body{
  font-family: 'Nunito', sans-serif;
}

.hide{
  display: none;
}

.show{
  display: block;
}

button{
  padding: 0.5rem 1rem;
  background-color: #eea226;
  border: 3px solid #804722;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 1px #ce7a20 inset;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
}

.titulo-header{
  background-color: black;
  color: white;
  padding: 1rem;
  margin-top: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.contenedor-flex{
  display: flex;
}

.card{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding-bottom: 1rem;
}

#ej1{
  background-color: rgb(174, 245, 245);
  padding: 1rem;
}

#gato{
  position: relative;
}

#right-heart{
  position: absolute;
  padding-top: 33%;
  padding-left: 38%;
}

#left-heart{
  position: absolute;
  padding-top: 33%;
  padding-left: 58%;
}

#contenedor-atun{
  display: flex;
  align-items: flex-end;
}

/* Start - Combinadores */

#ej2{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* border: 1px solid black; */
}

ul > li {
  border-bottom: 5px solid red;
}  

ul > li::after{
  content: "AFTER";
  color: blue;
}  

ol > li:first-child{
  color: green;
}

ol > li:first-child + li{
  color: purple;
}

/* End - Combinadores */